<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-5">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center">{{'EditProfile' | translate }}</h2>
        <hr>
        <form [formGroup]="userProfileForm" (ngSubmit)="updateUser()" autocomplete="off">

          <!-- Username -->
          <div class="mb-3">
            <label for="username">{{ 'Username' | translate }}</label>
            <input type="text" pInputText formControlName="username" maxlength="50" class="form-control">
            <div *ngIf="userProfileForm.get('username')?.errors && userProfileForm.get('username')?.touched"
              class="text-danger">
              <p *ngIf="userProfileForm.get('username')?.hasError('required')">{{ 'UsernameRequired' | translate }}</p>
            </div>

              <!-- Button -->
            <div class="text-center mt-2 mb-2">
              <p-button [disabled]="!userProfileForm.valid || userProfileForm.pristine" class="me-2"
                type="submit">{{ 'EditUsername' | translate }}</p-button>
            </div>
          </div>
        </form>

        <hr>

          <!-- Email change dialog button -->
        <div class="text-center mt-2 mb-2">
          <h4>{{loginedUser?.email}}</h4>
          <p-button class="me-2" (click)="openChangeEmailDialog()">{{'ChangeEmail' | translate }}</p-button>
        </div>

        <hr>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" autocomplete="off">

            <!-- Current password -->
          <div class="mb-3">
            <label for="currentPassword">{{'CurrentPassword' | translate }}</label>
            <p-password type="password" [toggleMask]="true" inputStyleClass="form-control" [style]="{'width':'100%'}"
              styleClass="hide-password-panel" formControlName="currentPassword"></p-password>
            <div
              *ngIf="changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched"
              class="text-danger">
              <p *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')"> {{'PasswordRequired' |
                translate }}</p>
              <p *ngIf="changePasswordForm.get('currentPassword')?.hasError('minlength')"> {{'InvalidPasswordFormat' |
                translate }}</p>
            </div>
          </div>

            <!-- New password -->
          <div class="mb-3">
            <label for="newPassword">{{'NewPassword' | translate }}</label>
            <p-password type="password" [toggleMask]="true" inputStyleClass="form-control" [style]="{'width':'100%'}"
              formControlName="newPassword"></p-password>
            <div *ngIf="changePasswordForm.get('newPassword')?.errors && changePasswordForm.get('newPassword')?.touched"
              class="text-danger">
              <p *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"> {{'PasswordRequired' | translate
                }}</p>
              <p *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')"> {{'InvalidPasswordFormat' |
                translate }}</p>
            </div>
          </div>

            <!-- Confirm password -->
          <div class="mb-3">
            <label for="confirmPassword">{{'ConfirmPassword' | translate }}</label>
            <p-password type="password" [toggleMask]="true" inputStyleClass="form-control" [style]="{'width':'100%'}"
              formControlName="confirmPassword" styleClass="hide-password-panel"></p-password>
            <div
              *ngIf="changePasswordForm.get('confirmPassword')?.errors && changePasswordForm.get('confirmPassword')?.touched"
              class="text-danger">
              <p *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')"> {{'ConfirmPasswordRequired' |
                translate }}</p>
              <p *ngIf="changePasswordForm.get('confirmPassword')?.hasError('isMatching')"> {{'PasswordNotMatch' |
                translate }}</p>
            </div>
          </div>

            <!-- Button -->
          <div class="text-center">
            <p-button [disabled]="!changePasswordForm.valid " class="me-2"
              type="submit">{{'ChangePassword' | translate }}</p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
