
<!-- Filter panel -->
<div class="mt-3" *ngIf="filter">
  <div class="card col-12">
    <div class="card-body">
      <form #form="ngForm" class="mb-3" (ngSubmit)="listUser()" autocomplete="off">
        <div class="row">

          <!-- Username -->
          <div class="col-12 col-md-3 mb-3">
            <div class="form-group">
              <label for="username">{{ 'Username' | translate }}</label>
              <input type="text" pInputText name="username" [(ngModel)]="filter.username" class="form-control">
            </div>
          </div>

          <!-- Email -->
          <div class="col-12 col-md-3 mb-3">
            <div class="form-group">
              <label for="email">{{ 'Email' | translate }}</label>
              <input type="text" pInputText name="email" [(ngModel)]="filter.email" class="form-control">
            </div>
          </div>

          <!-- Buttons -->
          <div class="col-12 col-md-6 mb-3 d-flex justify-content-end align-items-end">
            <div>
              <p-button type="submit">{{ 'Filter' | translate }}</p-button>
              <p-button class="mx-2" type="button" (click)="resetFilters()">{{ 'FilterReset' | translate }}</p-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- User list table -->
<div class="mt-3">
  <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }" [styleClass]="'p-datatable-sm'" (onSort)="onSortChanged($event)">
    <ng-template pTemplate="header">
      <tr>
        <th  pSortableColumn="username" style="width:25%">{{ 'Username' | translate }} <p-sortIcon field="username"></p-sortIcon></th>
        <th pSortableColumn="email" style="width:25%">{{ 'Email' | translate }} <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="role" style="width:15%">{{ 'Role' | translate }} <p-sortIcon field="role"></p-sortIcon></th>
        <th pSortableColumn="created" style="width:15%">{{ 'Created' | translate }} <p-sortIcon field="created"></p-sortIcon></th>
        <th pSortableColumn="lastActive" style="width:15%">{{ 'LastActive' | translate }} <p-sortIcon field="lastActive"></p-sortIcon></th>
        <th style="width:5%"> </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role | translate }}</td>
        <td>{{ user.created | utcToLocalDate | translateDate:'LanguageDateFormat'}}</td>
        <td>{{ user.lastActive | utcToLocalDate | timeago}}</td>
        <td ><p-button *ngIf="loginedUser?.id !== user.id" styleClass="p-button-danger" (click)="openDeleteConfirmation(user.id, user.username)">{{ 'Delete' | translate }}</p-button></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Paginator -->
<div class="d-flex justify-content-center mt-2">
  <p-paginator
    [rows]="pagination.itemsPerPage"
    [totalRecords]="pagination.totalItems"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="pagination.totalItems !== undefined  ? ('AllResult' | translate) + ': ' + pagination.totalItems : ''"
    (onPageChange)="onPageChanged($event)"
  ></p-paginator>
</div>
