<form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()" autocomplete="off">
  <h2 class="text-center">{{'ChangeEmail' | translate }}</h2>
  <hr>

  <div *ngIf="serverError" class="alert alert-danger">
    {{ serverError | translate}}
  </div>

  <div class="mb-3">
    <label for="email"> {{'Email' | translate }} </label>
    <input type="text" class="form-control" formControlName="email">
    <div *ngIf="changeEmailForm.get('email')?.errors && changeEmailForm.get('email')?.touched" class="text-danger">
      <p *ngIf="changeEmailForm.get('email')?.hasError('required')">{{'EmailRequired' | translate }}</p>
      <p *ngIf="changeEmailForm.get('email')?.hasError('email')"> {{'InvalidEmailFormat' | translate }}</p>
    </div>
  </div>

  <div class="mb-3">
    <label for="password">{{'Password' | translate }}</label>
    <input type="password" class="form-control" formControlName="password">
    <div *ngIf="changeEmailForm.get('password')?.errors && changeEmailForm.get('password')?.touched" class="text-danger">
      <p *ngIf="changeEmailForm.get('password')?.hasError('required')"> {{'PasswordRequired' | translate }}</p>
      <p *ngIf="changeEmailForm.get('password')?.hasError('minlength')"> {{'InvalidPasswordFormat' | translate }}</p>
    </div>
  </div>

  <div class="text-center">
    <button [disabled]="!changeEmailForm.valid" class="btn btn-success me-2" type="submit">{{'Edit' | translate }}</button>
    <button class="btn btn-danger" (click)="cancel()" type="button">{{'Cancel' | translate }}</button>
  </div>
</form>
