
/* managing primeng inputs size to max*/
.max-width{
  width: 100%;
}


/* Password component doesn't have password-panel (weak, medium, strong) */
.hide-password-panel .p-password-panel {
  display: none !important;
}

/* Dialog styles */
.p-dialog .p-dialog-content {
  background-color: darkslategrey;
  color: white;
  padding: 0  !important;
  padding-bottom: 10px !important;
  border: 1px solid white;

}

.p-dialog .p-dialog-header {
  background-color: darkslategrey !important;
  color: white !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: white !important;
}

.p-dialog .p-dialog-footer {
  background-color: darkslategrey !important;
  color: white !important;
}

/* tab styles */
.p-tabview-panels{
  background-color: #585759 !important;
  color: white !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  background-color: #585759;
  color: white;
}

.p-tabview .p-tabview-nav{
  border:none;
}
