
<p-tabView>
 <!--  first tab -->
  <p-tabPanel header="{{'CreateWord' | translate }}">
    <form [formGroup]="createWordForm" (ngSubmit)="createWord()" class="mb-3" autocomplete="off">

      <div class="row">
        <!-- English word -->
        <div class="col-12 col-md-3 mb-3">
          <div class="form-group">
            <label for="englishText">{{'EnglishText' | translate }}</label>
             <input type="text" pInputText  formControlName="englishText"  maxlength="250" class="form-control">
              <div *ngIf="createWordForm.get('englishText')?.errors && createWordForm.get('englishText')?.touched" class="text-danger">
                <p *ngIf="createWordForm.get('englishText')?.hasError('required')">{{'EnglishTextRequired' | translate }}</p>
              </div>
          </div>
        </div>

        <!-- Hungarian word -->
        <div class="col-12 col-md-3 mb-3">
          <div class="form-group">
            <label for="hungarianText">{{'HungarianText' | translate }}</label>
            <input type="text" pInputText  formControlName="hungarianText"  maxlength="250" class="form-control">
             <div *ngIf="createWordForm.get('hungarianText')?.errors && createWordForm.get('hungarianText')?.touched" class="text-danger">
               <p *ngIf="createWordForm.get('hungarianText')?.hasError('required')">{{'HungarianTextRequired' | translate }}</p>
             </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="col-12 col-md-6 mb-3 d-flex justify-content-start mt-3">
          <div>
            <p-button [disabled]="!createWordForm.valid" class="mx-2 mt-2"  type="submit">{{ 'Save' | translate }}</p-button>
          </div>
        </div>
      </div>
    </form>
  </p-tabPanel>
  <!--  second tab -->
  <p-tabPanel header="{{'WordsManaging' | translate }}">
    <p>
      <p-button class="mx-2 mt-2" type="button" (onClick)="resetWordsResults()">{{ 'ResetResults' | translate }}</p-button>
      <p-button class="mx-2 mt-2" type="button" styleClass="p-button-danger" (onClick)="deleteAllWord()">{{ 'DeleteAll' | translate }}</p-button>
    </p>
</p-tabPanel>
</p-tabView>
