<!-- Filter panel -->
<div class="mt-3">
  <div class="card col-12">
    <div class="card-body">
      <div  class="text-center">
      <h2>{{ 'StatisticsTitle' | translate }}</h2>
      <p>{{ 'StatisticsDescription' | translate }}</p>
    </div>
        <div class="p-labeled-input" mt-2>
          <label for="quantity">{{ 'StatisticsNumber' | translate }}</label>
          <p-inputNumber mode="decimal" [showButtons]="true" [min]="1" [(ngModel)]="quantity" name="quantity"
            [style]="{'width':'100px'}" [inputStyle]="{'width':'100px'}"  (onInput)="handleInput($event)"></p-inputNumber>
        </div>
    </div>
  </div>
</div>
<!-- Chart -->
<div class="card">
  <p-chart type="line" [data]="chartData" [options]="chartOptions" class="diagram-style"></p-chart>
</div>
